/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&family=Poppins:ital,wght@0,400;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

/* Icons */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


:root {
  --max-width: 690px;
  --color-background: #ffffff;
  --color-text: #000000;
  --color-link-hover: #000000;
  --color-link-hover-text: whitesmoke;
  --color-total-revision-fees: #000000;
  --color-total-revision-fees-text: whitesmoke;
  --color-footer: #808080;
  --input-background: #f2f2f2;
  --input-border: #000000;
  --input-thumb: #000000;
  --notice-background: #e2e2e2ee;
  --interactive-fill: #fff;
  --interactive-hover: #f4f4f4;
  --interactive-pressed: #e2e2e2;
  --faded-fill: #e6e6e6;
}

body.dark-mode {
  --color-background: #161616;
  --color-text: #ffffff;
  --color-link-hover: whitesmoke;
  --color-link-hover-text: #000000;
  --color-total-revision-fees: whitesmoke;
  --color-total-revision-fees-text: #000000;
  --color-footer: #ffffff;
  --input-background: #333333;
  --input-border: #ffffff;
  --input-thumb: #ffffff;
  --notice-background: #202020ee;
  --interactive-fill: #111;
  --interactive-hover: #1e1e1e;
  --interactive-pressed: #2a2a2a;
  --faded-fill: #1c1c1c;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: all 1s ease-in-out;
}

#appContainer {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 1024px) {
  #appContainer {
    margin-left: calc(50vw - var(--max-width) / 2);
    padding-left: 0;
    padding-right: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-color: var(--color-link-hover);
  color: var(--color-link-hover-text);
}

.darkSwitch {
  /* border: 1px solid salmon; */
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  cursor: pointer;
}

.darkSwitch svg {
  max-width: 100%;
  max-height: 100%;
  fill: black;
  transition: all 1s ease-in-out;
}

.darkSwitched svg {
  fill: whitesmoke;
}

.headerImage {
  width: 100%;
  height: auto;
}

.headerImage svg {
  max-width: 100%;
  max-height: 100%;
  fill: black;
  transition: all 1s ease-in-out;
}

.headerImageDark svg {
  fill: whitesmoke;
}

.chartContainer {
  position: relative; 
  max-width: var(--max-width);
  width: 100%;
  height: 256px;
  /* border: 1px solid limegreen; */
}

.chart {
  padding: 0;
  /* Set font in generateChart.js */
  /* border: 1px solid orangered; */
}

#form {
  /* border: 1px red solid; */
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#form div {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

#form img {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
  cursor: pointer;
}

.spaceBetween {
  justify-content: space-between;
}

.inputWarning {
  /* border: 1px black solid; */
  color: red;
  font-style: italic;
  font-size: x-small;
  text-align: right;
}

.inputCheckbox {
  user-select: none;
}

#currencySelector {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  max-width: 10rem;
}

#tableContainer {
  /* border: 1px salmon solid; */
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Mono", monospace;
}

.tableRow {
  display: flex;
  padding: 0.1rem;
  transition: all 1s ease-in-out;
}

.tableRowAlternate {
  background-color: var(--input-background);
}

.tableItem {
  min-width: 10rem;
}

.formulaContainer {
  max-width: var(--max-width);
  border-radius: 0.5rem;
  border: 1px solid #808080;
}

.formulaButton {
  padding: 0.33rem;
  font-size: 0.68rem;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: var(--interactive-fill);
  transition: all 1s ease-in-out;
}

.formulaButton:first-child {
  user-select: none;
}

.formula {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  padding: 0.33rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  text-align: center;
  background-color: var(--faded-fill);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: all 1s ease-in-out;
}

.hiddenFormula {
  display: none;
}

.totalRevisionFees {
  max-width: var(--max-width);
  color: var(--color-total-revision-fees-text);
  background-color: var(--color-total-revision-fees);
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  gap: 1rem;
  transition: all 1s ease-in-out;
}

#outputTotal {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: x-large;
}

.downloadButton {
  /* border: 1px solid blue; */
  max-width: var(--max-width);
  margin-top: -1.5rem;
  font-size: x-small;
  font-style: italic;
  color: #808080;
  display: flex;
  justify-content: end;
  gap: 0.3rem;
}

.downloadButtonInteract {
  cursor: pointer;
}

.downloadButton img {
  width: 0.8rem;
  height: auto;
}

.footerContainer {
  /* border: 1px solid red; */
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
}

.footer {
  /* border: 1px solid blue; */
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: x-small;
  color: var(--color-footer);
}

.footerLeft {
  font-size: small;
  display: flex;
  gap: 2rem;
  /* border: 1px solid red; */
}

.footerRight {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}